<%- include("header") -%>

<td><%= productsInCart[i].underwear_id %></td>
<td><%= productsInCart[i].underwear_model_id %></td>
<td><%= productsInCart[i].size %></td>
<td><%= productsInCart[i].color %></td>
<td><%= productsInCart[i].sku %></td>
<td><%= productsInCart[i].ean %></td>
<td><%= productsInCart[i].quantity %></td>
<td><%= productsInCart[i].price %></td>

<%- include("footer") -%>
